.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  color: #656565;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}

.container:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  border: 1px solid #5271ff;
}

.delete {
  background-color: #e41b1b;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80px;
  border-radius: 10px;
  font-size: 18px;
}
