.connect-container {
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  height: 452px;
  width: 100%;
}

.title {
  font-weight: bold;
  /* height: 32px; */
  font-size: 32px;
}

.text-connect {
  font-size: 18px;
}

.form-connect {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-connect {
  height: 48px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 10px;
  font-size: 18px;
  outline: none;
}

.input-connect:focus {
  border: 1px solid coral;
}

.forgot {
  cursor: pointer;
  text-align: right;
  color: coral;
}

.btn-connect {
  height: 48px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 18px;
  background-color: coral;
  cursor: pointer;
  color: white;
}
